@if(ViewBag.list != null && ViewBag.list.Count > 0 ){
    <ul>
    @foreach(var Pair in ViewBag.list)
    {
    <li><p>@Pair.First is <span class="label label-success">   @Pair.Second </span> </p> </li> 
    }
</ul>
}

