@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>
<br>
    <div class="containter">
        <div class="row" style="background-color:'yellow'" >
             <div class="col-md-6">
                <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("ValidateContent","Home")'" >Validate Files</button>
             </div> 
             <div class = "col-md-6">
                <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ImportContent","Home")'" >Import Files</button>
            </div>
        </div>
    </div> 
