@if(ViewBag.list != null && ViewBag.list.Count > 0 ){
     <ul>
     @foreach(var Pair in ViewBag.list)
     {
       <li>@Pair.First
        
       @if(Pair.Second)
        {
            <span class="label label-success" >is valid </span>
        }
        else
        {
           <span class="label label-danger" >is not valid </span>
        }
       </li> 
     }
    </ul>

 }
